In [9]:
import pandas as pd

In [10]:
import os
import sys

src_dir = os.path.join(os.getcwd(), "..", "..")

sys.path.append(os.path.abspath(src_dir))

from src.helpers.city_to_train_station import VisualizerHelper

In [8]:
train_station_df = pd.read_csv('../../../data/liste-des-gares.csv', sep=';')
cities_df = pd.read_csv('../../../data/cities.csv')

city_names_df = cities_df["label"]

In [129]:
cities_df["label"].sample(6)

2372                taize
16374               coulx
8267     la haye malherbe
25447        roqueseriere
4463     beaumont monteux
31342         st remimont
Name: label, dtype: object

In [16]:
helper = VisualizerHelper()

helper.get_nearest_station("beaumont monteux")

     distance                     LIBELLE
964  6.276835  Alixan-Châteauneuf-d'Isère